.navbar {
    background-color: rgb(237, 188, 29);
    display: flex;
}
.navButton {
    color: silver;
    display: flex;
    justify-content: flex-end;
}

.loginMenu {
    background-color: silver;
}
#root {
    background-color: rgb(79, 76, 76);
}
